# Ignore everything
**

# Not these directories
!.config/alacritty
!.config/nvim
!.config/tmux
!.scripts/

# Not these files
!.gitignore
!.gitignore-global
!.tmux*
!.config/tmuxinator/nvim.yml

# These files
.config/fish/personal_config.fish
