# Ignore everything
/*

# Not these directories
!.config/
!.scripts/

# Not these files
!.gitignore
!.gitignore-global
!.tmux*
!.config/tmuxinator/nvim.yml

# These files
.config/fish/personal_config.fish
