let mapleader=" "

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set which-key
set textobj-entire
set ReplaceWithRegister

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set clipboard=unnamedplus
set showmode
set so=5
set incsearch
set nu
set relativenumber

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

" Toggle breakpoint
nmap <leader>db :action ToggleLineBreakpoint<CR>

" Rename
nmap <leader>r :action RenameElement<CR>

" Distraction free
nmap <leader>z :action ToggleDistractionFreeMode<CR>

" Git
nmap gb :action Annotate<CR>
nmap gbw :action Vcs.ShowTabbedFileHistory<CR>

" Error navigation
nmap [d :action GotoNextError<CR>
nmap ]d :action GotoNextError<CR>

" File finder (Quick Open)
nmap <Space><Space> :action GotoFile<CR>

" Rgrep-style search
nmap ;r :action FindInPath<CR>

" TODO
nmap ;t :action ActivateTODOToolWindow<CR>

" File structure
nmap ;s :action Switcher<CR>

" Save file
nmap <C-s> :action SaveAll<CR>

" Buffers / Opened editors
nmap ;b :action RecentFiles<CR>

" Split window right
nmap <Space>\| :action SplitVertically<CR>

" Window navigation
nmap sl :action NextSplitter<CR>
nmap sh :action PrevSplitter<CR>

" Tab navigation
nmap <S-h> :action PreviousTab<CR>
nmap <S-l> :action NextTab<CR>

" Terminal toggle
nmap <C-/> :action ActivateTerminalToolWindow<CR>

" Kill buffer (close editor)
nmap <Space>bd :action CloseContent<CR>

" Pin/unpin tab
nmap <Space>bp :action PinActiveEditorTab<CR>

" Close all unpinned tabs
nmap <Space>bP :action CloseAllUnpinnedEditors<CR>

""" Multiple cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence
